<div class="project_legend">
	<span class="project_legend_label">Points</span>
	<div class="project_legend_details">
		<div class="project_legend_detail">
			<span class="project_legend_detail_icon">#</span>
			<span class="project_legend_detail_label">= Standard</span>
		</div>
		<div class="project_legend_detail">
			<span class="project_legend_detail_icon">#</span>
			<span class="project_legend_detail_label">= Syndicated</span>
		</div>
	</div>
</div>