<div class="project_card">
	<div class="project_card_header"></div>
	<div class="project_card_body">
		<div class="project_card_title">{{title}}</div>
	</div>
	<div class="project_card_footer">
		<div class="project_card_points">#</div>
	</div>
</div>