<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
    <title>{{title}}</title>
		<meta name="description" content="{{description}}">
    <link rel='stylesheet' href='/stylesheets/site.css' />
  </head>
  <body>
    {% import '../partials/macros.twig' as site %}
    <header class="page_header">
      <h1 class="page_title">
        <a class="page_title_link" href="/">
          <span class="page_title_icon">
            {{site.logo}}
          </span>
          <span class="page_title_label">Fastspot Project Plans</span>
        </a>
      </h1>
    </header>
    <main class="page">
      {% block body %}
      {% endblock %}
    </main>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
