.page_header {
	width: 100%;

	background: #f0f0f0;
	padding: 11px 20px;
}

.page_title {
	@include nd(700);

	color: #000;
	font-size: 16px;
	margin: 0;
}

.page_title_link {
	align-items: center;
	color: inherit;
	display: flex;
	text-decoration: none;
}

.page_title_icon {
	position: relative;
	top: -1px;
	
	margin-right: 8px;
}

.page_title_label {}